.upcoming{
    background-color: #4DA1A9;
    border-radius: 10px;
    display: flex;
    flex: row;
    color:#F6F4F0 ;
    padding: 40px 120px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#upcoming-left{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#upcoming-left div{
    display: flex;
    gap: 5px;
}
.ayah{
    background-color: #79D7BE;
    color: #2E5077;
    text-align: center;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ayah h3{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}
#surah{
    font-style: italic;
    margin-top: 10px;
}
#icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 200px 0;
    font-size: 32px;
    color: #2E5077;
}
.arrow{
    border: solid 5px #4DA1A9;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 25px;

}
@media only screen and (max-width:480px) {
    #icons{
        flex-direction: column;
        gap: 50px;
    }
    .upcoming{
        flex-direction: column;
        gap: 50px;
    }
}

@media only screen and (max-width:768px) {
    #icons{
        flex-direction: column;
        gap: 30px;
    }
}