.signup{
    background-color: #4DA1A9;
    color:#F6F4F0 ;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.field{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.field label {
    margin-bottom:7px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.field label #icon{
    margin-left:5px;
}
#title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
form p{
    font-weight: bold;
}
#gender{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    gap:20px;
}

#button,#email,#name,#username,#password,#confirm{
    height: 30px;
    border-radius: 7px;
}
#button{
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #F6F4F0;;
    height: 40px;
    
}