@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: "Cormorant";
    background-color: #F6F4F0;
}